# node modules (all folders)
node_modules/
**/node_modules/

# env files (ALL env files ignore)
.env
.env.*
**/.env
**/.env.*

# build folders
dist
build
**/dist
**/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
